html {
  // 設定頁面可滾動，並為滾動條定義時間軸
  scroll-timeline-name: --page-scroll;/* 給這個時間軸一個名字 */
    scroll-timeline-axis: block; /* 監聽垂直滾動（Y軸） */
}

.navbar-hd {
  position: fixed;
  top: 0;
  width: calc(100%);
  z-index: 1000;
  padding-top: 4px;
  padding-bottom: 4px;

  animation-name: navbar-background-change, navbar-background-change1;
  animation-timeline: --page-scroll, --page-scroll;
  animation-range: 0px 50px, 50px 100px;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in, ease-in;
}

@keyframes navbar-background-change {
  from {
    background-color: transparent;
    opacity: 1;
  }
  to {
    background-color: var(--primary-700);
    opacity: 0.5;
  }
}

@keyframes navbar-background-change1 {
  from {
    background-color:  var(--primary-700);
    opacity: 0.5;
  }
  to {
    background-color: var(--primary-700);
    opacity: 1;
  }
}

.size-90x24 {
  width: 122px;
  // height: 56px;
}
.navbar-toggler-hd{
  padding: 12px;
  font-size: 0.5rem!important;
  border: 0;
  &:focus,&:focus-visible{
    outline: none;
    box-shadow: none;
  }
}
.toggler-icon-hd{
  width: 16px;
  height: 16px;
  padding: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.offcanvas{
  --bs-offcanvas-width: 100%;
}
.offcanvas-icon-hd{
  width: 16px;
  height: 16px;
  padding: 0 !important;
  margin-top: 12px !important;
  margin-right: 12px !important;
  margin-bottom: 12px !important;
}
.offcanvas-header-hd{
  padding: 4px 12px;
}
.px-m-16{
  margin-left: -16px !important;
  margin-right: -16px !important;
}
.link-white{
  color: white !important;
}
.nav-dropdown-btn{
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  color: white
}
.dropdown-toggle::after{
  width: 14px;
  height: 8px;
  background: url(/assets/images/header/triangle-arrow-down-wh.png) no-repeat center / contain;
  margin-left: 12px;
  vertical-align: 0.1em;
}
.dropdown-menu-shift{
  margin-left: 80px;
  border-radius: 12px;
  padding: 4px;
  margin-top: 4px !important;
  border: 0;
}